/* HEADER */

.page-header{
    background-color: #42474f;
    color: #5ad6d2;
    padding: 20px 5%;
    height: auto;
    position: fixed
    width: 100%;
}

.page-header h1{
    font-size: 40px;
    position: relative;
    top: 40px;
    width: 360px;
    height: 70px;
    background-color: #5ad6d2;
    color: rgb(66, 71, 79);
    padding-top: 20px;
    padding-left: 55px;
    border-radius: 18px 0 ;
}

.header-links{
    text-align: right;
}

li{
    display: inline
}

a{
    text-decoration: none;
    color: #5ad6d2;
    padding-right: 10px;
    font-size: 22px;
}

/* HERO PICTURES SECTION */
.pictures{
    display: flex;
    background-color: #5ad6d2;
}

.column{
    flex: 25%;
    flex-wrap: wrap;
    padding: 2px;
}

/* MAIN SECTION */

.main-content{
    margin: 10px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
}
.main-section{
    display: flex;
    max-width: 75%;
    background-color: #42474f;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    }
    
.main-section h2{
    flex: 0 0 20%;
    text-align: right;
    border: 0 10px 0 0 solid color:#42474f;
    background-color: #fff;
    color: #42474f;
    margin-left: 10px;
    font-size: 20px;
    }
/* WORK SECTION */

.work-figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.landing-page{
    background-image: url("./Images/huma-kabakci-oRk4Ep65tRc-unsplash.jpg");
}

.project-1{
    background-image: url();
}

.project-2{

}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }