/* HEADER */

.page-header{
    background-color: #42474f;
    color: #5ad6d2;
    padding: 20px 5%;
    height: auto;
    position: fixed
    width: 100%;
}

.page-header h1{
    font-size: 40px;
    position: relative;
    top: 40px;
    width: 360px;
    height: 70px;
    background-color: #5ad6d2;
    color: rgb(66, 71, 79);
    padding-top: 20px;
    padding-left: 55px;
    border-radius: 18px 0 ;
}

.header-links{
    text-align: right;
}

li{
    display: inline
}

a{
    text-decoration: none;
    color: #5ad6d2;
    padding-right: 10px;
    font-size: 22px;
}

/* HERO PICTURES SECTION */
.pictures{
    display: flex;
    background-color: #5ad6d2;
}

.column{
    flex: 25%;
    flex-flow: row wrap;
    padding: 2px;
}

/* MAIN SECTION */
.main-section{
    max-width: 75%;
    color: #42474f;
    margin-left: auto;
    margin-right: auto;
    }

.main-content{
    margin: 10px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
}

.main-content > div{
    flex: 0 0 75%;
    }

.main-content > h2{
    flex: 0 0 20%;
    text-wrap:pretty;
    text-decoration: underline;
    border: 0 10px 0 0 solid color: #42474f;
    background-color: #fff;
    color: #42474f;
    margin-right: 20px;
    font-size: 20px;
    }

/* WORK SECTION */

.work-figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-1st{
border: 10px solid #5ad6d2;
display: flex;
align-items: flex-end;
margin: 1em;
background-size: 100%;
font-size: 1rem;
min-height: 400px;
flex-basis: 100%;
}
.app-1st{
    background-image: url(./Images/Landing page.png);
}

.app{
padding: 10px 10px;
}

#project-1{
    background-size: cover;
}

#project-2{
    background-image: url("./Images/huma-kabakci-oRk4Ep65tRc-unsplash.jpg");
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }