:root {
    --aqua: #5ad6d2;
    --gray: #42474f;
    --white: #fffefc;
}

/* HEADER */

.page-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 20px 5%;
    height: auto;
    width: 100%;
}

/* NOT SURE WHY MY HI TEXT COLOR IS NOT APPLYING */

.page-header h1{
    font-size: 40px;
    font-style: italic;
    width: 360px;
    height: 70px;
    background-color: var(--aqua);
    color: var(--gray)
    padding-top: 20px;
    padding-left: 55px;
    border-radius: 18px 0 ;
}

.header-links{
    text-align: right;
}

li{
    display: inline
}

a{
    text-decoration: none;
    color: var(--aqua);
    padding-right: 10px;
    font-size: 22px;
}

/* HERO PICTURES SECTION */
.pictures{
    display: flex;
    background-color: var(--aqua);
}

.column{
    flex: 25%;
    flex-flow: row wrap;
    padding: 2px;
}

/* MAIN SECTION AFTER PICTURES */

.main-section{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.main-section>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.about-me{
    height: 300px;
    text-align: left;
    font-size: 25px;
}

.landing-page{
    height: 150px;
    width: 100%;
    background-image: url(./Images/Landing\ page.png);
    background-size: cover;
}

.project-1{
    color: var(--white);
    background-image: url(./Images/webfactory-ltd-NoOrDKxUfzo-unsplash.jpg);
    background-size: cover;
    height: 80px;
    width: 50%;
}

.project-2{
    color: var(--white);
    background-image: url(./Images/huma-kabakci-oRk4Ep65tRc-unsplash.jpg);
    background-size: cover;
height: 80px;
width: 50%;
}

.contact-me{
    display: flex;
    flex-wrap: wrap;
    background: var(--aqua);
    color: var(--gray);
    height: 100px;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .landing-page{
        flex: 3;
    }

    .project-1{
        order: 1;
    }

    .project-2{
        order: 2;
    }
    
    .landing-page{
        order: 2;
    }

    .contact-me{
        order: 4;
    }
}

@media screen and (min-width: 600px){
    .project-1{
        flex: 1;
}

    .project-2{
        flex: 1;
}
}
    